.svg-wrapper {
    height: 7vh;
}
.svg-wrapper2 {
    height: 12vh;
}


.svg-wrapper svg {
    display: block;
    width: auto;
    height: 100%;
}

.svg-wrapper2 svg {
    display: block;
    width: auto;
    height: 100%;
}


@media only screen and (max-width: 47.98em) {
    .svg-wrapper svg {
        max-width: 100%;
    }
    .svg-wrapper2 {
    height: 8vh;
}
}

.vibrating {
  animation: vibrate 1s linear infinite;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-2px, -2px); }
  100% { transform: translate(0); }
}

.svg-wrapper.cursor-pointer {
  cursor: pointer;
  transition: transform 0.2s;
}

.svg-wrapper.cursor-pointer:hover {
  transform: scale(1.05);
}